/** 
 * 	Author: Christoph Kepler, Michael Schneider
 * 	Date: 02.11.2013
 * 	General Style CSS
 */

/** 	
 * 	Some general settings
 */

* {
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
body {
	background: #CCCCCC;
}
h1, h2, h3, p, ul, li {
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
	display: inline;
}
a {
	text-decoration: none;
}

/**
 * 	Positioning
 */
#form-wrapper {
	position: absolute;
	width: 520px;
	height: 300px;
	margin-left: -260px;
	margin-top: -150px;
	left: 50%;
	top: 50%;
}
#headline {
	position: absolute;
	top: -50px;
}
.clearfix {
	clear: both;
}

/**
 * 	Wrapper
 */
#form-wrapper {
	border-radius: 10px;
	background: #999999;
	box-shadow: 5px 5px 5px #333333;
}

/**
 * 	Headline
 */
#headline {
	background: #666666;
	border-radius: 10px;
	width: 520px;
	height: 35px;
	box-shadow: 5px 5px 5px #333333;
}
#headline h1 {
	text-align: center;
	padding: 4px 0;
}

/**
 * 	Form
 */
form {
	margin: 10px;
}
label {
	width: 150px;
	display: block;
	float: left;
	font-weight: bold;
}
input {
}
/**
 * 	@TODO Fix align of label or size of radio buttons
 */
.radiolabel {
	float: none;
	display: inline;
	font-weight: normal;
}
p {
	margin: 5px 0;
}
